
# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
on: [push]

name: AzurePowerShellSample

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        enable-AzPSSession: true 
        
    - name: run seed
      with:
        Inlinescript: |
          docker login ghcr.io -u kamini@spektrasystems.com -p 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
          $studentprefix = "790341"
          $githubAccount = "kaminiwalunj"
          $resourcegroupName = "fabmedical-rg-" + $studentprefix
          $cosmosDBName = "fabmedical-cdb-" + $studentprefix

          # Fetch CosmosDB Mongo connection string
          $mongodbConnectionString = `
          $(az cosmosdb keys list `
              --name $cosmosDBName `
              --resource-group $resourcegroupName `
              --type connection-strings `
              --query 'connectionStrings[0].connectionString')

          # Seed CosmosDB database
          docker run -ti `
           -e MONGODB_CONNECTION="$mongodbConnectionString" `
               ghcr.io/$githubAccount/fabrikam-init:main

        azPSVersion: "latest"




                                                
