# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
on: [push]

name: AzurePowerShellSample

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    
    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        enable-AzPSSession: true 
        
    - name: run seed
      uses: azure/powershell@v1
      with:
        inlineScript: |
           $mongodbConnectionString = Get-AzCosmosDBAccountKey -ResourceGroupName fabmedical-rg-790341 -Name fabmedical-cdb-790341 -Type "ConnectionStrings" 
           $mongodbConnectionString1 = $mongodbConnectionString["Primary MongoDB Connection String"]
           $mongodbConnectionString1 
           docker run -ti -e MONGODB_CONNECTION="$mongodbConnectionString1" ghcr.io/kaminiwalunj/fabrikam-init:main
           
        azPSVersion: "latest"
    - name: run webapp
      uses: azure/powershell@v1
      with:
        inlineScript: |
           az webapp config container set --docker-registry-server-password ${{secrets.CR_PAT}} `
            --docker-registry-server-url https://ghcr.io `
            --docker-registry-server-user kaminiwalunj `
            --multicontainer-config-file ./../docker-compose.yml `
            --multicontainer-config-type COMPOSE `
            --name fabmedical-web-790341 `
            --resource-group fabmedical-rg-790341


        azPSVersion: "latest"

                                                
